---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";

export interface Props {
	title: string;
	description: string;
	image?: string;
	enable_katex?: boolean;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
	title,
	description,
	enable_katex,
	image,
} = Astro.props;

import { DEAFULT_SOCIAL_IMAGE } from "../consts";
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Twitter -->
<meta property="twitter:card" content={ image ? "summary_large_image" : "summary" } />
<meta property="twitter:site" content="iskyzh" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image || DEAFULT_SOCIAL_IMAGE, Astro.url)} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image || DEAFULT_SOCIAL_IMAGE, Astro.url)} />

<!-- sitemap -->
<link rel="sitemap" href="/sitemap-index.xml" />

{
	enable_katex && (
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
			integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ"
			crossorigin="anonymous"
		/>
	)
}


<!-- Google tag (gtag.js)
<script async src="https://www.googletagmanager.com/gtag/js?id=G-812BQ96S8Q"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-812BQ96S8Q');
</script> -->

<script async src="https://analytics.umami.is/script.js" data-website-id="b7635e6c-8c66-456d-92fa-b8fed556bde7"></script>
