---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import BlogItem from "../components/BlogItem.astro";

const { tag } = Astro.params;

let posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

if (tag) {
	posts = posts.filter((x) => x.data.tags?.includes(tag));
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			ul li :global(time) {
				flex: 0 0 130px;
				font-style: italic;
				color: #595959;
			}
			ul li a:visited {
				color: #8e32dc;
			}
		</style>
	</head>
	<body>
		<Header />
		{tag && <h2>{tag}</h2>}
		<main>
			<section>
				<ul>
					{
						posts
							.filter((post) => tag || post.data.lang != "zh-cn")
							.map((post) => <BlogItem post={post} />)
					}
				</ul>
			</section>
			{
				!tag && (
					<>
						<p style="margin-bottom: 3em" />
						<section>
							Previous blog posts in Chinese:
							<ul>
								{posts
									.filter((post) => post.data.lang == "zh-cn")
									.map((post) => (
										<BlogItem post={post} />
									))}
							</ul>
						</section>
					</>
				)
			}
		</main>
		<Footer />
	</body>
</html>
